.SecretSanta {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.SecretSanta > .Header {
    flex: 0 1 auto;
}

.SecretSanta > .EditPage,
.SecretSanta > .ResultPage {
    flex: 1 1 auto;

    max-height: calc(100% - 116px - 70px);
}

.SecretSanta > .Footer {
    flex: 0 1 70px;
}

.EditPage,
.ResultPage {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.EditPage > .ButtonBar,
.ResultPage > .ButtonBar {
    flex: 0 1 40px;
}

@media only screen and (max-width: 600px) {
    .SecretSanta > .EditPage,
    .SecretSanta > .ResultPage {
        max-height: calc(100% - 86px - 70px);
    }
}