.Footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.Footer-links {
    float: right;
}

.Footer-links > li {
    display: inline;
    padding-right: 10px;

    text-decoration: underline;
}

.Footer-links > li:hover {
    cursor: pointer;
}

.Footer-links a {
    color: black;
}

.Changelog {
    text-align: left;
}