
.Footer-links > button {
    color: black;
}

.Footer-links > button:hover {
    color: #555;
}

.Changelog {
    text-align: left;
}

@media only screen and (max-width: 600px) {
    .Footer-links > button {
        font-size: smaller;
        padding-left: 6px;
        padding-right: 6px;
    }
  }